<html>
    <head>
        <meta charset="utf-8">
        <title>Place You've Been</title>
    </head>
    <body>
        <h1>You added a place!</h1>
            <p>{{ newplace.getCity }}</p>
            <p><a href='/'>Check out your list</a></p>
    </body>
</html>
