<html>
<head>
    <title>Places You've Been</title>
</head>
<body>
    <h1>Places You've Been</h1>

    {% if places is not empty %}
        <h2>List of Places:</h2>
        <ul>
            {% for place in places %}
                <li>{{ place.getCity }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action="/places" method="post">
        <label for="city_name">Name of visited city:</label>
        <input id="city_name" name="city_name" type="text">

        <button type="submit">Add a place</button>
    </form>

    <form action="/delete_places" method="post">
        <button type="submit" name="button">Erase Your List</button>
    </form>
</body>
</html>
